# PostgreSQL

DB_USER=url_checker
DB_PASSWORD=XXXXXXXXXXXXX
DB_NAME=url_checker

# Application database connection
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_NAME}

# Redis
REDIS_URL=redis://localhost:6379

# API
API_PORT=3001
API_URL=http://localhost:3001

# Web
NEXT_PUBLIC_API_URL=http://localhost:3001